[submodule "JacobBukovich_FinalExam/JacobBukovich_FinalExam/university-domains-list"]
	path = JacobBukovich_FinalExam/JacobBukovich_FinalExam/university-domains-list
	url = https://github.com/hipo/university-domains-list.git
