<%- include('../partials/header') %>
<%- include('../partials/menu') %>
<header>
    <form class="navbar" role="search">
        <div class="search">
            <input type="text" placeholder="Enter University name here" name="search">
        </div>
            <button type="submit" onclick="fetchSearch()">submit</button>
        
    </form>
</header>

<%- include('../partials/footer') %>

